@keyframes arrows {
  0%, 100% {
    color: black;
    transform: translateY(0);
  }
  50% {
    color: #3AB493;
    transform: translateY(20px);
  }
}

#loader span {
  --delay: 0s;
  animation: arrows 1s var(--delay) infinite ease-in;
}

#loader div {
  display: flex;
  height: 50vh;
  align-items: flex-end;
  justify-content: center;
}

#loader-text div {
  display: flex;
  height: 50vh;
  align-items: flex-start;
  justify-content: center;
  margin-top: 30px;
}

#loader-text strong {
  animation: color-change 1s infinite;
}

@keyframes color-change {
  0% {
    color: black;
  }
  50% {
    color: blue;
  }
  100% {
    color: black;
  }
}

